*
{
    box-sizing: border-box;
    user-select: none;
}
body
{
    margin:0;
    color: black;
    background-color: #F5F5F5;
    font-family: sans-serif;

}


ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

.side-nav a
{
padding: 20px;
margin-top:10px;

}

.side-nav
{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}


.side-bar
{
    min-width: 400px;
    max-width: 400px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px rgb(212, 212, 212) ;
    text-align: center;

}

a.active
{
background-color: #f7f7F7!important;

border-right: 2px rgb(26, 105, 224) solid ;
}

a:hover
{
    background-color: #f4f4f4;
}