main
{
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
}

main>div
{
    height: 100%;
}



.tournaments-wrapper
{
 
overflow-y: auto;
width: 100%;
}

.tournaments
{
    height: 100%;
    padding: 0 100px;
 
}

.brand
{

    text-align: center;
    background-color: rgb(150, 0, 0);
    width: 300px;
    height: 100%;
    clip-path: polygon(0 0 , 100% 0 , 100% 100%);
    padding: 10px;
    color:white
}
.content
{
    width: 100%;
    text-align: center;
}
.brand-inf
{
background-color: rgb(9, 68, 177);
}

.brand-man
{
background-color: green;
}

.tournament
{
    display: flex;
    position: relative;
    height: 200px;
    margin: 40px  0;
 background-color: white;
 box-shadow: 5PX 7px 15px 3px rgb(192, 192, 192);
 box-sizing:none;
}

.tournament:hover
{
    width: calc(100% + 20px);
    height: calc(200px + 10px) ;
    right:40px
}