body{
    background-color: #dfd7d7;
    /* background: #314dc7; */
    /* font-family: 'Montserrat', sans-serif; */

   }
   #log1{
    width: 50%;
    
   }
   #container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
    background: #eaebf1;
    border-radius: 5%;
    padding: 25px;
    border: 1px #b4b7ccd5 solid;
   }
   /*gestion des espaces*/
   #c1{
    margin-bottom: 20px;
   }
   #c2{
    margin-bottom: 20px;
   }
   
   /* forme des bordures*/
   /* form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
   } */
   #container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
    align-items: center;
   }
   
   /* champs */
   input[type=text], input[type=password], input[type=number], input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
   }
   
   /* style du button */
   input[type=submit] {
    background-color: #31b0c7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
   }
   input[type=submit]:hover {
    background-color: white;
    color: #53af57;
     border: 0.5px solid #53af57; 
   }
   
