*{
    margin: 0;
    padding: 0;
  }
  
 

  .profil-wrapper
  {
     padding: 20px 100px;
    margin: auto;
  }
  
.bio
{
  font-size: 1.2rem;

}
  
  .profil
  {
    padding:.5rem 1rem;
    font-size:1.3rem;
    width: 100%;
    margin-bottom: 25px;
    margin-top: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    box-shadow: 5PX 7px 15px 3px rgb(192, 192, 192);

  }


  
  .avatar-container {
    margin: auto;
    overflow: hidden;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: rgb(0, 0, 0) 5px solid;
  }
  

  
  #maj {
    color: white;
    font-size:1.3rem;
    background-color:rgb(26, 105, 224);
    height: 35px;
    box-shadow: 5PX 7px 5px 5px rgb(228, 228, 228);
    border: none;
    margin-top: 20px;
    padding: 8px 30px;
    box-sizing: content-box;
    
  }
  
  .c-aff {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .profil-info
  {
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    padding: 20px;
  }
  
  .imgc{
    width: 25px; 
    height: 25px;
    margin-right: 5px;
  }

  
  h1{
    text-align: center;
    color: rgb(26, 105, 224);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:2rem;
  }