{% comment %} {% {% load static %}%} {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reinitialisation du mdp</title>
</head>
<body>
    
    <div class="container-fluid">
        {% block body %}
        {% endblock %}
    </div>
    <footer class="footer">
        <span>
            Copyright &copy; <script>document.write(new Date().getFullYear())</script> Clinton exercice.
        </span>
    </footer>
</body>
</html>