{% extends 'base.html' %}
{% load static %}

{% block title %} isjtournamnt | staff {% endblock %}

{% block content %}
<style>
    form input
    {
        display: block;
width: 100%;
padding: .375rem .75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #212529;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
border-radius: .25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
</style>
{% if c == True%}
<div>
    <form action="" method="post">
     {%csrf_token%}
     <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">personnal data</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">educational background information</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">family data</button>
          </li>

      </ul>
      <div class="tab-content p-3" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <div class="row g-3">
                <div class="col-sm-6">
                  <label for="firstName" class="form-label">First name</label>
                  {{form.name}}
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
    
                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Last name</label>
                  {{form.lastname}}
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>
                </div>



              <div class="row g-3">
                <div class="col-sm-6">
                  <label for="firstName" class="form-label">{{form.birth_date.label}}</label>
                  {{form.birth_date}}
                </div>
    
                <div class="col-sm-6">
                  <label for="lastName" class="form-label">{{form.birth_place.label}}</label>
                  {{form.birth_place}}

                </div>
            </div>

            <div class="row py-3">
                <label for="staticEmail" class="col-sm-6 col-form-label">{{form.sex.label}}</label>
                <div class="col-sm-6">
                    <div class="form-check row">
                
                        {{form.sex}}
        
                      </div>
                </div>
              </div>

            <div class="row g-3">
                <div class="col-sm-6">
                  <label for="firstName" class="form-label">{{form.nationality.label}}</label>
                  {{form.nationality}}
                </div>
    
                <div class="col-sm-6">
                  <label for="lastName" class="form-label">{{form.region.label}}</label>
                  {{form.region}}

                </div>
            </div>



            <div class="row g-3">
                <div class="col-sm-6">
                  <label for="firstName" class="form-label">{{form.cni_number.label}}</label>
                  {{form.cni_number}}
                </div>
    
                <div class="col-sm-6">
                  <label for="lastName" class="form-label">{{form.email.label}}</label>
                  {{form.email}}

                </div>
            </div>


              <div class="py-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">{{form.adresse.label}}</label>
                <div class="col-sm-10">
                    {{form.adresse}}
                </div>
              </div>

              <div class="row py-3">
                <label for="staticEmail" class="col-sm-2 col-form-label">{{form.phone.label}}</label>
                <div class="col-sm-10">
                    {{form.phone}}
                </div>
              </div>
        </div>

        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">


            <div class="row py-3">
                <label for="staticEmail" class="col-sm-6 col-form-label">avez vous le baccaléaurat ??</label>
                <div class="col-sm-6">
                    <div class="form-check row">
                
                        {{form.bacc}}
        
                      </div>
                </div>
              </div>



            <div class="row g-3">
                <div class="col-sm-6">
                  <label for="firstName" class="form-label">{{form.obtentionyear.label}}</label>
                  {{form.obtentionyear}}
                </div>
    
                <div class="col-sm-6">
                  <label for="lastName" class="form-label">{{form.mention.label}}</label>
                  {{form.mention}}

                </div>
            </div>

            <div class=" row py-3">
                <label for="staticEmail" class="col-sm-4 col-form-label">{{form.series.label}}</label>
                <div class="col-sm-8">
                    {{form.series}}
                </div>
              </div>

            <div class="row g-3">
                <div class="col-sm-6">
                  <label for="first" class="form-label">{{form.exschool.label}}</label>
                  {{form.exschool}}
                </div>
    
                <div class="col-sm-6">
                  <label for="lastName" class="form-label">{{form.exschoolcity.label}}</label>
                  {{form.exschoolcity}}

                </div>
            </div>



            <div class="row g-3">
                <div class="col-sm-6">
                  <label for="firstName" class="form-label">{{form.baccmark.label}}</label>
                  {{form.baccmark}}
                </div>
    
                <div class="col-sm-6">
                  <label for="lastName" class="form-label">{{form.probatoiremark.label}}</label>
                  {{form.probatoiremark}}

                </div>
            </div>


            <div class="row py-3">
                <label for="staticEmail" class="col-sm-6 col-form-label">{{form.hasrepeated.label}}</label>
                <div class="col-sm-6">
                    <div class="form-check row">
                
                        {{form.hasrepeated}}
        
                      </div>
                </div>
              </div>

            
              <div class=" row py-3">
                <label for="staticEmail" class="col-sm-4 col-form-label">{{form.repeatedclasse.label}}</label>
                <div class="col-sm-8">
                    {{form.repeatedclasse}}
                </div>
              </div>


              <div class=" row py-3">
                <label for="staticEmail" class="col-sm-4 col-form-label">{{form.examcenter.label}}</label>
                <div class="col-sm-8">
                    {{form.examcenter}}
                </div>
              </div>


        </div>
        <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">

            <div class=" row py-3">
                <label for="staticEmail" class="col-sm-4 col-form-label">{{form.nompere.label}}</label>
                <div class="col-sm-8">
                    {{form.nompere}}
                </div>
              </div>

              <div class=" row py-3">
                <label for="staticEmail" class="col-sm-4 col-form-label">{{form.professionpere.label}}</label>
                <div class="col-sm-8">
                    {{form.professionpere}}
                </div>
              </div>

              <div class=" row py-3">
                <label for="staticEmail" class="col-sm-4 col-form-label">{{form.nommere.label}}</label>
                <div class="col-sm-8">
                    {{form.nommere}}
                </div>
              </div>

              <div class=" row py-3">
                <label for="staticEmail" class="col-sm-4 col-form-label">{{form.professionmere.label}}</label>
                <div class="col-sm-8">
                    {{form.professionmere}}
                </div>
              </div>


              <div class=" row py-3">
                <label for="staticEmail" class="col-sm-4 col-form-label">{{form.nombreenfant.label}}</label>
                <div class="col-sm-8">
                    {{form.nombreenfant}}
                </div>
              </div>

              <div class=" row py-3">
                <label for="staticEmail" class="col-sm-4 col-form-label">{{form.nombreenfantes.label}}</label>
                <div class="col-sm-8">
                    {{form.nombreenfantes}}
                </div>
              </div>

              <div class=" row py-3">
                <label for="staticEmail" class="col-sm-4 col-form-label">{{form.adresseparent.label}}</label>
                <div class="col-sm-8">
                    {{form.adresseparent}}
                </div>
              </div>

              <div class=" row py-3">
                <label for="staticEmail" class="col-sm-4 col-form-label">{{form.situation.label}}</label>
                <div class="col-sm-8">
                    {{form.situation}}
                </div>
              </div>


        </div>
      </div>
      
      <button class="btn btn-primary">enregister</button>

      {% if form.errors %}
    <div class="alert alert-danger">
        {{ form.errors }}
    </div>
{% endif %}
    </form>
<div>
{%else%}
<div>
    <h2>il n'ya aucun concours pours lincence 1 actuellement</h2>
</div>

{%endif%}



{%endblock%}