
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style %}{% endblock style %}
    <link rel="stylesheet" href="{% static 'style/base.css' %}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <main>
        <div class="side-bar">
            <div style="padding: 0px 20px;">
                <img width="100%" src="{% static 'image/logo_SJI2.png' %} " alt="">
            </div>

<div class="side-nav">
    <a class="{% if request.path == '/' %}active{% endif %} " href="{% url 'home' %}">Acceuil</a>
    <a class="{% if request.path == '/staff/'%}active{% endif %} " href="{% url 'staff' %}">Staff</a>
    <a class="{% if request.path == '' %}active{% endif %} " href="{% url 'staff' %}">Mon profil</a>
    <a class="{% if request.path == '' %}active{% endif %} " href="{% url 'logout' %}">se deconnecter</a>
</div>
        </div>

        <div class="tournaments-wrapper">

        {% block content %}{% endblock%}

        </div>
    </main>
</body>
</html>