{% extends 'base.html' %}
{% load static %}

{% block title %} isjtournamnt | staff {% endblock %}

{% block content %}
<div class="c-form">
<form method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    <div class="form-group">

        <label for="exampleInputEmail1">avatar</label>
        {{form.avatar}}
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">nom</label>
        {{form.name}}
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">bio</label>
        {{form.bio}}
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">email</label>
        {{form.email}}
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">contact</label>
        {{form.contact}}
      </div>
      <button type="submit" class="btn btn-primary">sauvegarder</button>
      {{form.errors}}
</form>
<a class="btn-danger btn" href="{% url 'change_password'%}">changer le mot de passe<a/>
</div>

{%endblock%}