{% extends 'base.html' %}
{% load static %}

 {% block title %} isjtournamnt | home {% endblock %}
 {% block style %}
 <link rel="stylesheet" href="{%static 'style/home.css'%}">
 {% endblock  %}
     {% block content %}

{{TIME_ZONE}}
       
        <div class="tournaments">
            {% for t in tournaments  %}
            <div class="tournament">


            <div class="dropdown m-1">
                <a  type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-gear"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="{% url 'update_tournament' t.id%}">modifier</a></li>

                  <li><a class="dropdown-item" href="{% url 'delete_tournament' t.id%}">supprimer</a></li>
                </ul>
              </div> 
                <a  href="{% url 'tournament' t.pk %}"  class="content">
                          <h2 class="text-center">
                    {% if t.type == "cl1i" %}Concours  informatique licence 1
                    {% elif t.type == "cl1m" %}Concours  management licence 1
                    {% elif t.type == "cm1i"%}Concours  informatique master
                    {% elif t.type == "cing1i" %} concours ingenieur inormatique niveau 1
                    {%endif%}

                    
                </h2>
                <div class="text-right pt-2 text-muted">
                    {{t.description}}
                </div>



            </a>
          
        <div class="brand {% if t.type in ct %}brand-inf{%endif%}">


    
    </div>
        
</div>
        {% endfor %}
        
        </div>

        {%if request.user.staff.role  in rc%}
        <a class="add" href="{% url 'add_tournament'%}">
            +
        </a>    
        {%endif%}    
     
     {% endblock  %}
