{% extends 'base.html' %}
{% load static %}

 {% block title %} isjtournamnt | home {% endblock %}
 {% block style %}
 <link rel="stylesheet" href="{%static 'style/home.css'%}">
 {% endblock  %}
     {% block 'content' %}
     <div class="tournaments-wrapper">

       
        <div class="tournaments">
            {% for t in tournaments  %}
            <a  href="{% url 'tournament' t.pk %}" class="tournament">
                <div class="content">
                          <h2>
                    {{t.type}}
                </h2>
                </div>
          
        <div class="brand"></div>
        
            </a>
        {% endfor %}

                </div>
        
        

        
     
     {% endblock 'content' %}
