<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>connexion</title>
        <link rel="stylesheet" href="connexion_page.css">
        <link rel="stylesheet" href="globalstyle.css">
    </head>
    <body>

        <form action="">
            <div id="container">
                <label id="tc1"><b>Nom d'utilisateur</b></label>
                <input id="c1" type="text" placeholder="Entrer le nom d'utilisateur" name="username" required>
    
                <label id="tc2"><b>Mot de passe</b></label>
                <input id="c2" type="password" placeholder="Entrer le mot de passe" name="password" required>
    
                <input type="submit" id='submit' value='LOGIN' >
    
            </div>
        </form>
    </body>
</html>