{% extends 'base.html' %}
{% load static %}

{% block title %} isjtournamnt | staff {% endblock %}
{% block style %}
<link rel="stylesheet" href="{%static 'style/profil.css'%}">
{% endblock  %}
{% block content %}

    <div class="profil-wrapper">     
        <div  class="card">
            <img src="{{staff.avatar.url}}" alt="" >
            <div>
                <h3>{{staff.name}}</h3>
                <h4>{{staff.bio}}</h4>
            </div>
            <div class="pt-3 ow container" >
                <span class="col-md-3 mx-4" ><i class="fa-solid fa-envelope px-2"></i> {{staff.contact}}</span>
                <span class="col-md-3 mx-4"> <i class="fa-solid fa-phone px-3"></i>{{staff.email}}</span>
            </div>

            <div  class="mt-4">
                {%if request.user == staff%}
                <a class="btn btn-primary btn-primary" href="{% url "edit_staff" request.user.id%}"> editer le profil</a>
                {%endif%}
                {%if request.user.role == 'D'%}
                <a class="btn btn-danger btn-danger" href="{% url "remove_staff" request.user.id%}"> retirer ce membre</a>
                {%endif%}
            <div>
        </div>
</div>

{%endblock%}