{% extends 'base.html' %}
{% load static %}

{% block title %} isjtournamnt | staff {% endblock %}
{% block style %}
<link rel="stylesheet" href="{%static 'style/profil.css'%}">
{% endblock  %}
{% block content %}

    <div class="profil-wrapper">     
        <div class="profil">  
            <div class="part1">  
            <div class="avatar-container">
                <img src="{{staff.avatar.url}}" alt="">
            </div>
            <div class="c-aff">  
                

       <span class="profil-info"> <img src="{% static 'image/login.svg'%}" class="imgc"> {{staff.name}}</span>
      
<span class="profil-info"><img src="{% static 'image/tel.svg' %} " class="imgc"> {{staff.user.email}}</span> 

<span class="profil-info"><img src="{% static 'image/email.svg'%}" class="imgc"> {{staff.user.email}}</span>
            </div>
            </div>
            <diV class="part1">
                <span class="bio">{{staff.bio}}</span>
                <div class="btn">
                    <button id="maj">Mettre a jour votre profil</button>
                </div>
            </div>

        </div> 
    </div> 
</div>

{%endblock%}