{% extends 'base.html' %}
{% load static %}

{% block title %} isjtournamnt | staff {% endblock %}
{% block style %}
<link rel="stylesheet" href="{%static 'style/staff.css'%}">
{% endblock  %}

{% block 'content' %}
<div class="cards">
    {%for staff in staffs %}
    <a href="{% url 'staff' staff.pk %}" class="card">
        <img src="{{staff.avatar.url}}" alt="" >
        <div>
            <h3>{{staff.name}}</h3>
            <h4>{{staff.bio}}</h4>
        </div>
    </a>
    {%endfor%}
   
</div>
{%endblock%}