<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="globalstyle.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="side-bar">
            <div style="padding: 0px 20px;">
                <img width="100%" src="logo_SJI2.png" alt="">
            </div>

<div class="side-nav">
    <a class="active" href="">Acceuil</a>
    <a href="">Staff</a>
    <a href="">Mon profil</a>
    <a href="">se deconnecter</a>
</div>
        </div>
        <div class="tournaments-wrapper">
<div style="position: relative;">
    <img width="100%" src="io.jpg" alt="" style="">
    <div style="position: absolute; height: 100%; top:0;width: 100%;"></div>

</div>
<div>
<div style="color: white;position:relative;width:200px ; margin:0 auto ;padding:15px ; box-sizing:unset; background-color: rgb(23, 69, 155);bottom: 40px;">
<h1 style="text-align: center;">
 Concours informatique
  </h1>
 
</div>

  <div></div>

</div>
</div>
 </main>
</body>
</html>