{% extends 'base.html' %}
{% load static %}

 {% block title %} isjtournamnt | home {% endblock %}
 {% block style %}
 <link rel="stylesheet" href="{%static 'style/home.css'%}">
 {% endblock  %}


 {% block content %}

        <div class="tournaments-wrapper">

<div>
{% if tournament.type in ct%}
<div style="color: white;position:relative;width:220px ; margin:0 auto ;padding:15px ; box-sizing:unset; background-color: rgb(23, 69, 155);">
<h1 style="text-align: center;">
 Concours informatique
  </h1>
  {%else%}
  <div style="color: white;position:relative;width:220px ; margin:0 auto ;padding:15px ; box-sizing:unset; background-color: rgb(180, 20, 15);">
    <h1 style="text-align: center;">
     Concours management
      </h1>
  {%endif%}
 
</div>

  <div>
    
  </div>

</div>
</div>
{% endblock %}
